.sectionContainer {
    height: 100vh;
    min-height: 45em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em 0;
}

.container {
    height: 100%;
    padding: 1em var(--horizontal-padding);
    max-width: var(--max-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1em;
    width: 100%;
}


.content {
    overflow: hidden;
    max-width: 42em;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    flex: 1;
}


.content h2 {
    font-size: 3em;
    font-weight: 600;
    line-height: 1.2em;
    text-transform: capitalize;
    margin-bottom: 1em;
}

.imageContainer {
    align-items: flex-end;
}

/* .imageContainer {
    height: 38em;
    max-height: 70%;
    position: relative;
}

.imageContainer img {
    height: 100%;
    width: auto;
}

.imageContainer:before {
    position: absolute;
    content: '';
    width: 40em;
    height: 60em;
    right: 20%;
    top: -25%;
    border-radius: 20em;
    background: linear-gradient(45deg, rgba(var(--color-primary-opacity), 0.05) 10%, transparent 70%);
    transform: rotate(-125deg);
} */

.mapContainer {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex: 1;
}

.map {
    height: 100%;
    width: min-content;
    position: relative;
}

.map>svg {
    height: 100%;
    width: auto;
}

@media (max-width: 1650px) {
    .container {
        font-size: .8em;
    }
}

@media (max-width: 1000px) {
    .container {
        flex-direction: column;
        padding: 1em 2em;
        flex-wrap: nowrap;
    }

    .content {
        width: 100%;
        height: min-content;
        flex: none;
        max-width: none;
    }

    .content h2 {
        font-size: 2em;
        text-align: center;
        max-width: 20em;
    }

    .imageContainer {
        display: none !important;
    }

    .map {
        width: auto;
    }
}

@media (min-height: 1200px) {
    .sectionContainer {
        max-height: 1200px;
    }
}