.container {
    min-height: calc(100vh - 8.5em);
    height: max-content;
    padding: 2em var(--horizontal-padding);
    padding-top: 1em;
    max-width: var(--max-width);
    margin: 0 auto;
}

.container svg {
    color: var(--color-primary);
}

.presentationContainer {
    max-width: var(--max-width);
    display: flex;
    justify-content: center;
    margin-top: 3em;
    gap: 1em;
    flex-wrap: wrap;
}

.presentationContainer .presentation {
    max-width: 100%;
    width: 37em;
    flex: 1;
}

.presentationContainer .presentation h2 {
    width: 16em;
    font-size: 3em;
    font-weight: 600;
    line-height: 1.2em;
    text-transform: capitalize;
}

.presentationContainer .presentation h3 {
    font-size: 1.5em;
    font-weight: 500;
    margin-top: 1em;
    color: #777
}

.presentationContainer .presentation p {
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5em;
    margin-top: 1em;
    max-width: 50em;
    color: #777
}

.presentationContainer .presentationIlustration {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex: 1;
}

.presentationContainer .presentationIlustration img {
    height: 37.5em;
    max-height: 55vh;
    width: auto;
}

.presentationContainer .presentationIlustration:before {
    content: '';
    position: absolute;
    left: 20%;
    top: -85%;
    width: 55em;
    max-width: 100vh;
    height: 85em;
    max-height: 140vh;
    background: linear-gradient(356.45deg, rgba(var(--color-primary-opacity), 0.15) 0%, transparent 50%);
    transform: rotate(48deg);
    border-radius: 50em;
    z-index: -1;
}

@media (max-width: 1650px) {
    .container {
        margin-top: 0;
        font-size: .8em;
    }
}

@media (max-width: 1000px) {
    .presentationContainer .presentation {
        width: 100%;
        min-width: 28em;
    }

    .presentationContainer .presentation h2 {
        font-size: 2em;
        text-align: center;
        width: auto;
    }

    .presentationContainer .presentation {
        width: auto;
    }

}

@media (max-width: 768px) {
    .container {
        padding: 2em 2em;
    }

    .presentationContainer .presentation {
        min-width: 100%;
        width: 100%;
    }

    .presentationContainer .presentationIlustration img {
        width: 100%;
    }
}


@media (min-height: 1200px) {
    .container {
        min-height: 0px;
    }
}