.container {
    width: 100%;
    border-radius: 1em;
    background-color: #fff;
    display: flex;
    align-items: flex-start;
    box-shadow: 0px 50px 60px rgba(0, 115, 236, 0.04);
    padding: 1em 1.5em;
}

.content {
    padding-top: .25em;
    padding-left: 1em;
    word-break: break-word;
}

.content h4 {
    font-size: 1em;
    margin-bottom: .25em;
}

.content p {
    color: #888;
    font-weight: 300;
}

.icon {
    width: 3em;
    height: 3em;
    background: linear-gradient(125.97deg, var(--color-primary) 10%, rgba(var(--color-primary-opacity), .8) 90%);
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 10px 50px rgba(3, 105, 214, 0.1);
    flex-grow: initial;
    flex-shrink: 0;
}