.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em var(--horizontal-padding);
    padding-bottom: 0;
    min-height: calc(100vh - 9.5em);
    max-width: var(--max-width);
    margin: 0 auto;
}

.about {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 1;
    margin-top: 2em;
}

.text {
    flex: 1;
    min-width: 38em;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
}

.text p {
    margin-bottom: 1.2em;
    color: #777;
    font-weight: 400;
    font-size: 1.2em;
    line-height: 1.3em;
}

.text h2 {
    font-size: 3em;
    font-weight: 600;
    line-height: 1.2em;
    text-transform: capitalize;
    margin-bottom: .5em;
    max-width: 15em;
}

@media (max-width: 1650px) {
    .container {
        font-size: .8em;
    }
}

@media (max-width: 1000px) {
    .container {
        font-size: .8em;
    }

    .text h2 {
        text-align: center;
        font-size: 2em;
        align-self: center;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 1em 2em;
        padding-bottom: 0;
    }

    .text {
        min-width: 0px;
        flex: auto;
    }

}

@media (min-height: 1200px) {
    .container {
        min-height: 0px;
    }
}