.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em var(--horizontal-padding);
    padding-bottom: 0;
    min-height: calc(100vh - 9.5em);
    max-width: var(--max-width);
    margin: 0 auto;
}

.about {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 1;
    margin-top: 2em;
}

.text {
    flex: .7;
}

.text p {
    margin-bottom: 1.2em;
    color: #777;
    font-weight: 400;
}

.text h2 {
    font-size: 3em;
    font-weight: 600;
    line-height: 1.2em;
    text-transform: capitalize;
    margin-bottom: 1em;
}

.imageContainer {
    position: relative;
}


.imageWithPseudoContainer {
    display: flex;
    align-items: stretch;
    justify-content: center;
    position: relative;
    height: calc(100vh - 8.5em - 13em);
    flex: 1;
}

.imageWithPseudoContainer img {
    height: 100%;
    width: auto;
    align-self: flex-end;
    z-index: 1;
    position: relative;
}

.imageContainer:before {
    content: '';
    position: absolute;
    width: 150%;
    height: 95%;
    left: -25%;
    bottom: 0;
    border-radius: 50% 50% 0 0;
    background: linear-gradient(180deg, rgba(var(--color-primary-opacity), 0.05) 10%, transparent 100%);
}

@media (max-width: 1650px) {
    .container {
        font-size: .8em;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 1em 2em;
    }
}

@media (min-height: 1200px) {
    .container {
        min-height: 0px;
    }
}