:root {
  --color-primary: #1785f9;
  --color-primary-opacity: 15, 105, 201;
  --color-text-primary: #000000;
  --color-text-secondary: #bbb;
  --max-width: 1920px;
  --horizontal-padding: 6em;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;

}

span.underlinedWord {
  position: relative;
  color: var(--color-primary);
}

span.underlinedWord:after {
  content: "";
  position: absolute;
  bottom: -1em;
  left: 0px;
  height: 1em;
  width: 100%;
  border: solid .1em var(--color-primary);
  border-color: var(--color-primary) transparent transparent transparent;
  border-radius: 50%;
}