.container {
    min-height: 100vh;
    height: max-content;
    padding: 2em var(--horizontal-padding);
    padding-top: 1em;
    max-width: var(--max-width);
    margin: 0 auto;
}

.container nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 0em;
}

.container svg {
    color: var(--color-primary);
}

.container nav ul {
    display: flex;
    list-style: none;
    gap: 1em;
}

.container nav ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    font-weight: 600;
}

.container nav ul li button {
    border: none;
    background: none;
    cursor: pointer;
    border-radius: 50%;
    margin-left: .3em;
    color: var(--color-primary);
    height: 1.2em;
    width: 1.2em;
}

.container nav ul li button:hover {
    background-color: var(--color-primary);
    color: #FFF;
}

.container nav ul li button svg {
    color: inherit;
    font-size: 1.2em;
}

.selectServiceContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1em;
    margin-top: 2em;
    width: 100%;
    background-color: #fff;
    border-radius: 1em;
    padding: 2em 2em;
}

.selectServiceContainer>div {
    width: 100%;
}

.selectServiceContainer ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.selectServiceContainer li {
    flex-grow: 1;
    list-style: none;
}

.presentationContainer {
    max-width: var(--max-width);
    display: flex;
    justify-content: center;
    margin-top: 3em;
    gap: 1em;
    flex-wrap: wrap;
}

.presentationContainer .presentation {
    max-width: 100%;
    width: 37em;
    flex: 1;
}

.presentationContainer .presentation h2 {
    width: 16em;
    font-size: 3em;
    font-weight: 600;
    line-height: 1.2em;
    text-transform: capitalize;
}

.presentationContainer .presentation h3 {
    font-size: 1.5em;
    font-weight: 500;
    margin-top: 1em;
    color: #777
}

.presentationContainer .presentation p {
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5em;
    margin-top: 1em;
    max-width: 50em;
    color: #777
}

.presentationContainer .presentationIlustration {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex: 1;
}

.presentationContainer .presentationIlustration img {
    height: 37.5em;
    max-height: 55vh;
    width: auto;
}

.presentationContainer .presentationIlustration:before {
    content: '';
    position: absolute;
    left: 20%;
    top: -85%;
    width: 55em;
    max-width: 100vh;
    height: 85em;
    max-height: 140vh;
    background: linear-gradient(356.45deg, rgba(var(--color-primary-opacity), 0.2) 5%, #FFFFFF 65%);
    transform: rotate(48deg);
    border-radius: 50em;
    z-index: -1;
}

@media (max-width: 1650px) {
    .container {
        margin-top: 0;
        font-size: .8em;
    }
}

@media (max-width: 1000px) {
    .presentationContainer .presentation {
        width: 100%;
        min-width: 28em;
    }

    .presentationContainer .presentation h2 {
        font-size: 2em;
        text-align: center;
        width: auto;
    }

    .presentationContainer .presentation {
        width: auto;
    }

}


@media (max-width: 768px) {
    .container {
        padding: 2em 2em;
    }

    .container nav {
        padding-top: 0;
    }

    .container nav ul {
        display: none;
    }

    .presentationContainer .presentation {
        min-width: 100%;
        width: 100%;
    }

    .container .cellPhone {
        display: none;
    }

    .presentationContainer .presentationIlustration img {
        width: 100%;
    }
}


@media (min-height: 1200px) {
    .container {
        min-height: 0px;
    }
}