.sectionContainer {
    min-height: 100vh;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    min-height: 100vh;
    height: max-content;
    padding: 1em var(--horizontal-padding);
    max-width: var(--max-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1em;
    width: 100%;
}


.content {
    overflow: hidden;
    max-width: 50em;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 85vh;
}


.content h2 {
    font-size: 3em;
    font-weight: 600;
    line-height: 1.2em;
    text-transform: capitalize;
    margin-bottom: 1em;
}

.imageContainer {
    height: 35em;
    max-height: 60vh;
    position: relative;
}

.imageContainer img {
    height: 100%;
    width: auto;
}

.imageContainer:before {
    position: absolute;
    content: '';
    width: 40em;
    height: 60em;
    max-height: 120vh;
    max-width: 100vh;
    right: 0%;
    top: -30%;
    border-radius: 20em;
    background: linear-gradient(45deg, rgba(var(--color-primary-opacity), 0.05) 10%, transparent 70%);
    transform: rotate(-125deg);
}

.mapContainer {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.map {
    height: auto;
    max-height: 90vh;
    width: 30em;
    position: relative;
}

.map svg {
    height: auto;
    max-height: 90vh;
}

@media (max-width: 1650px) {
    .container {
        font-size: .8em;
    }
}